# Set to development or production
NODE_ENV=development
PORT=
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
# Run the command `openssl rand -base64 32` to generate the secret
BETTER_AUTH_SECRET=
# This is the app of your url. Ex: https://myapp.com
BETTER_AUTH_URL=